<%= render template: "shared/nav_bar" %>

<div class="container">


</div>



<script type="text/template" id="start-end-points">
	<label>Starting Point</label>
	<input type="text" class="start" name="starting_point">
	<label>Ending Point</label>
	<input type="text" class="end" name="ending_point">
	<button class="StartEnd">Trans.it!</button>
</script>