<!DOCTYPE html>
 <html lang="en">
<html>
<head>
  <title>TransitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#"+ GOOGLE_MAPS_API_KEY></script> -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    
</body>
</html>
